* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

.top_page {
  /* background-color: #040035; */
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-image:
    url("../assets/top_black.png"),
    url("../assets/top_background.png");
  background-size: cover;
  background-position: 0 -20px;
  background-repeat: no-repeat;
}

.top_page.launchLocket{
  background-image:
    url("../assets/top_background.png");
}

.top_page.changeBGImg{
  background-image: 
    url("../assets/chat_background.png");
}

.container {
  width: 344px;
  height: 530px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: 10;

  h1 {
    color: white;
    font-size: 3.2rem;
    align-self: flex-start;
    padding-left: 20px;
    padding-top: 18px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 22px;
}

.learn_content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.planet1 {
  button {
    width: 74px;
    height: 74px;
    background-color: red;
    border-radius: 74px;
    border: none;
  }

  p {
    text-align: center;
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
  }
}

.planet2 {
  button {
    width: 74px;
    height: 74px;
    background-color: lightgreen;
    border-radius: 74px;
    border: none;
  }

  p {
    text-align: center;
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
  }
}

.addition_btn {
  button {
    width: 42px;
    height: 42px;
    background-color: black;
    border-radius: 42px;
    border: none;
  }
}

.timer_content {
  width: 203px;
  height: 203px;
  /* border: solid 1px tomato; */
  margin-top: 17px;
  z-index: 20;
}

/* .start_btn {
  margin-top: 11px;

  button {
    width: 202px;
    height: 84px;
    background: linear-gradient(
        to bottom,
        #F36868,
        #EB6053) !important;
    color: white;
    border: solid 6px #4d4d4d;
    border-radius: 30px;
    font-size: 2.4rem;
    font-family: "A P-OTF A1Gothic Std";
    font-weight: bold;
    background-image: url("../assets/startBtnLuster.png");
    background-repeat: no-repeat;
    background-position: 10px 4px;
  }
} */

.start_btn {
  margin-top: 11px;

  button {
    width: 202px;
    height: 84px;
    /* まとめて書く！ 先に書いたほうが「上（手前）」に重なります */
    background: 
      url("../assets/startBtnLuster.png") no-repeat 10px 4px, /* 光沢を上に */
      linear-gradient(to bottom, #F36868, #EB6053) !important; /* グラデーションを下に */
    
    color: white;
    border: solid 6px #4d4d4d;
    border-radius: 30px;
    font-size: 2.4rem;
    font-family: "A P-OTF A1Gothic Std";
    font-weight: bold;
    
    /* 下の3行は削除するか、上のbackgroundに統合したので不要です */
    /* background-image: url("../assets/startBtnLuster.png"); */
    /* background-repeat: no-repeat; */
    /* background-position: 10px 4px; */
  }
}

.rocket{
  position: absolute;
  right: 54px;
  bottom: 80px;
  animation: launchLocket 3s forwards;
  /* transition: bottom 5s; */
}

.smoke{
  position: absolute;
  right: 0;
  bottom: -30px;
  animation: vanishSmoke 3s forwards;
}

/* .rocket.active{
  bottom: 300px;
} */

@keyframes launchLocket {
  0%{
    bottom: 80px;
  }
  100%{
    bottom: 416px;
  }
}

@keyframes vanishSmoke {
  0%{
    opacity: 100%;
  }
  100%{
    opacity: 20%;
  }
}